@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

body {
  color: #333;
  background-color: #fff;
  font-size: 100%;
  line-height: 1.7;
  -webkit-text-size-adjust: 100%;
}

li {
  list-style: none;
}

main {
  display: block;
  position: relative;
}

button {
  cursor: pointer;
}
.container {
  min-height: 100vh;
  margin: 0 auto;
  padding: 40px 16px 16px;
  max-width: 600px;
  width: 100%;
  text-align: center;
}
.container h1 {
  margin-bottom: 24px;
  font-size: 32px;
}
.container .btn {
  margin: 0 auto 24px;
}
.btn__add {
  padding: 8px 24px;
  border: none;
  background: pink;
  color: #333;
  font-weight: 700;
}

/* TODOリスト */
.todo {
  padding: 1rem;
}
.todo__list {
  display: block;
}
.todo__list__item {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #33333309;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
  position: relative;
}
.todo__list__item-btns {
  position: absolute;
  right: 0;
}
.icon-trash,
.icon-edit {
  border: none;
  background-color: transparent;
  padding: 8px;
}
.icon-trash img,
.icon-edit img {
  width: 24px;
  height: 24px;
}
input[type='checkbox'] {
  margin-right: 8px;
}

/* モーダル TODO 作成 */
.modal,
.modal-2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #33333350;
  z-index: 5;
}
.modal p,
.modal-2 p {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.modal__close {
  font-size: 24px;
  font-weight: 400;
  transition: 0.3s;
  cursor: pointer;
}
.modal__close:hover {
  color: #33333380;
}
.modal__create {
  background-color: #fff;
  margin: 20% auto;
  padding: 1rem 1.25rem;
  max-width: 400px;
  width: 100%;
  animation-name: modal;
  animation-duration: 0.8s;
}
@keyframes modal {
  from {
    transform: translateY(-100%);
    transform: 0;
  }
  to {
    opacity: 1;
  }
}

.modal__create h2 {
  font-size: 20px;
  margin-bottom: 1rem;
}
.modal label {
  padding-bottom: 8px;
}
.modal input {
  padding: 5px;
  margin-bottom: 1rem;
  border: 1px solid #33333350;
}
.modal .modal__create__btn {
  padding: 4px;
  width: 100px;
  border: none;
  background-color: pink;
  margin: 0 auto;
}

/* モーダル TODO 編集 */
.modal__edit {
  background-color: #fff;
  padding: 1rem 1.25rem;
}
.modal__edit h2 {
  font-size: 20px;
  margin-bottom: 1rem;
}
.modal-2 label {
  padding-bottom: 8px;
}
.modal-2 input {
  padding: 5px;
  margin-bottom: 1rem;
  border: 1px solid #33333350;
}
.modal-2 .modal__edit__btn {
  padding: 4px;
  width: 100px;
  border: none;
  background-color: pink;
  margin: 0 auto;
}

.error {
  display: block;
  color: red;
  font-size: 12px;
}
.modal__edit {
  background-color: #fff;
  margin: 20% auto;
  padding: 1rem 1.25rem;
  max-width: 400px;
  width: 100%;
  animation-name: modal;
  animation-duration: 0.8s;
}
@keyframes modal {
  from {
    transform: translateY(-100%);
    transform: 0;
  }
  to {
    opacity: 1;
  }
}
