@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

body {
  color: #333;
  background-color: #fff;
  font-size: 100%;
  line-height: 1.7;
  -webkit-text-size-adjust: 100%;
}

li {
  list-style: none;
}

main {
  display: block;
  position: relative;
}
main.active {
  background-color: #00000025;
}
button {
  cursor: pointer;
}
.container {
  min-height: 100vh;
  margin: 0 auto;
  padding: 40px 16px 16px;
  max-width: 600px;
  width: 100%;
  text-align: center;
}
.container h1 {
  margin-bottom: 24px;
  font-size: 32px;
}
.container .btn {
  margin: 0 auto 24px;
}
.btn__add {
  padding: 8px 24px;
  border: none;
  background: pink;
  color: #333;
  font-weight: 700;
}

/* TODOリスト */
.todo {
  padding: 1rem;
}
.todo__list {
  display: block;
}
.todo__list__item {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #33333309;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
  position: relative;
}
.todo__list__item-btns {
  position: absolute;
  right: 0;
}
.icon-trash,
.icon-edit {
  border: none;
  background-color: transparent;
  padding: 8px;
}
.icon-trash img,
.icon-edit img {
  width: 24px;
  height: 24px;
}
input[type='checkbox'] {
  margin-right: 8px;
}

/* モーダル TODO 作成 */
.modal {
  display: none;
}
.modal.active {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 400px;
  width: 100%;
  display: block;
}
.modal p {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.modal .modal__close {
  font-size: 24px;
  border: none;
  background-color: transparent;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.modal .modal__close:hover {
  border: none;
  background-color: #f4f4f4;
}
.modal__create {
  background-color: #fff;
  padding: 1rem 1.25rem;
}
.modal__create h2 {
  font-size: 20px;
  margin-bottom: 1rem;
}
.modal label {
  padding-bottom: 8px;
}
.modal input {
  padding: 5px;
  margin-bottom: 1rem;
  border: 1px solid #33333350;
}
.modal .modal__create__btn {
  padding: 4px;
  width: 100px;
  border: none;
  background-color: pink;
  margin: 0 auto;
}

/* モーダル TODO 編集 */
.modal__edit {
  background-color: #fff;
  padding: 1rem 1.25rem;
}
.modal__edit h2 {
  font-size: 20px;
  margin-bottom: 1rem;
}
.modal label {
  padding-bottom: 8px;
}
.modal input {
  padding: 5px;
  margin-bottom: 1rem;
  border: 1px solid #33333350;
}
.modal .modal__edit__btn {
  padding: 4px;
  width: 100px;
  border: none;
  background-color: pink;
  margin: 0 auto;
}
